h1 {
    color: red;
    font-size: 30px;
}

img:hover{
    background-color: gold;
}

.bacon {
    background-color: green;
}

.broccli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}