.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.wrapper > div {
    background-color: lightblue;
    /* width: 130px;
    height: 130px; */
    font-size: 1.2em;
    text-align: center; 
}